<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>

<body>
    <!-- #action="http://www.google.com"  -->
    <form method="GET"> 
        
        <p>
            <label for="mailtag">Email</label>
            <input type="email" name="" id="mailtag" value="admin@ozguruygulama.com">
        </p>
        <p>
            <label for="passtag">Password</label>
            <input type="password" name="" id="passtag" value="12345678">
        </p>
        <p><input type="submit" value="Submit"></p>
    </form>    
</body>
</html>